{% extends 'core/base.html' %}

{% block title %}Category {% endblock %}
{% block meta %}
<meta name="description" content="Browse the list of categories on Tobietopia. Explore a wide range of topics, including disney, programming, games, cartoons and more. Discover articles, tutorials, and resources that cater to your interests. Find the perfect category to dive into and unlock a world of knowledge and fun.">
<meta name="author" content="Tobietopia">
<meta property="og:title" content="Category | Tobietopia">
<meta property="og:description" content="Browse the list of categories on Tobietopia. Explore a wide range of topics, including disney, programming, games, cartoons and more. Discover articles, tutorials, and resources that cater to your interests. Find the perfect category to dive into and unlock a world of knowledge and fun.">
<meta property="og:url" content="/{% url 'category_list'%}">
<meta property="og:type" content="article">
{% endblock %}

{% block content %}
<hr>

    <strong class="is-size-5 is-italic has-text-centered">Categories</strong>
    <hr>
    <div class="columns">
        <div class="sidebar">
            <div class="content is-medium">
                <ul>
                    {%for category in categories%}
                       <li><button class="button is-dark">
                       <a href="{% url 'category_detail' category.slug %}"><p class= "has-text-light">{{ category.title }}</p></a></button></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>    
{% endblock %}