{% extends 'core/base.html' %}

{% block title %}{{ post.title}} | {% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                
                <!--our post details-->
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-size-6">
                            {% if post.image %}
                                <div class="box has-rounded-corners is-inline-block">
                                    <figure class="image mb-5">
                                    <img src="{{ post.image.url }}">
                                    </figure>
                                </div>
                            {% endif %}
                            <div class="box has-rounded-corners is-inline-block has-background-dark">
                            <h2 class="subtitle is-family-primary is-4 has-text-white">{{ post.created_at |timesince }} ago</h2>
                            <h1 class="title is-family-primary has-text-white">{{ post.title }}</h1></div>
                            <p><strong>{{ post.intro }}</strong></p>
                            <p>{{ post.body}}</p>
                            <p><small>Category: <a href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a></small></p>        <!--post category-->

                            <hr>

                            <p class="tags">Tag: {{ post.tags.all|join:", "}}</p>       <!--tags for our post-->

                            <hr>        <!-- this means to leave a line space before whatever comes next-->

                            <!-- adding comment section in each post-->
                            <h2 class="subtitle is-4">Comments</h2>         <!--comment header-->
                            
                            <!--comment form-->
                            <form method="post" class="mb-6">
                                {% csrf_token %}
                                {{ form.as_p }}

                                <div class="field">
                                    <div class="control">
                                        <button class="button is-dark">Submit comment</button>
                                    </div>
                                </div>
                            </form>

                            {% for comment in post.comments.all %}                   <!--for loop to display everycomment made-->
                                <article class="media box">
                                    <div class="media-content">
                                        <strong>{{ comment.name }}</strong> <small>{{ comment.created_at |timesince }} ago</small><br>
                                        {{ comment.body }}
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}