{% load static %}
{% load social_share %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}{% endblock %} | TobieTopia</title>
       
        {% block meta %}
        {% endblock %}

        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/navburger.css' %}">
        <link rel="icon" type="core/image/Asset 1png" href="{% static  'image/Asset 1.png' %}">
        <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
        <style>
            /* Add underline and set color on hover */
            .card:hover {
      background-color: rgb(245, 245, 245);
         }
         
          </style>
          
        <style>
            nav.navbar {
                height: 6rem !important;
                box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.1), 0 1px 2px 0 rgba(251, 251, 253, 0.06) !important;
            }
            
        </style>
    </head>

    <body>
        <nav class="navbar is-fixed-top is-dark">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                    <img src="{% static  'image/Asset 1.png' %}" alt="Logo">
                    <strong class="is-size-3 is-italic has-text-info"> obieTopia </strong>
                    </a>
                    <div role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </div>
                </div>

                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <form method="get" action="{% url 'search' %}">
                                <div class="control has-icons-left">
                                    <input class="input is-rounded" name="query" type="text" placeholder="Search">
                                    <span class="icon is-left">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <a href='/' class="navbar-item is-size-5 ">
                            Home
                        </a>
                        <a href="{% url 'about' %}" class="navbar-item is-size-5  ">
                            About</a>
                        <a href="{% url 'contact' %}" class="navbar-item is-size-5  ">
                           Contact</a>
                        <a href="{% url 'category' %}" class="navbar-item is-size-5 ">
                            Category
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- inclucing our javascript file for navbar toggle-->
        <script src="{% static 'js/navbar.js' %}"></script>
        <section class="section"> 
            <div class="container">
                <!-- every other content will be displayed section of the post-->
                {% block content %}
                {% endblock %}
            </div>
        </section> 
        <footer class="footer is-fixed-bottom has-background-dark">
            <ul>
                <li class="pb-4"><a href='/' class="has-text-white is-family-monospace is-size-6 has-">Home</a></a></li>

                <li class="pb-4"><a href="{% url 'about' %}"><p class="has-text-white is-family-monospace is-size-6">About</p></a></li>

                <li class="pb-4"><a href="{% url 'contact' %}"><p class="has-text-white is-family-monospace is-size-6">
                Contact</p></a></li>

                <li class="pb-4"><a href="{% url 'category' %}"><p class="has-text-white is-family-monospace is-size-6">
                    Category</p></a></li>
            </ul>
            <div class="columns is-mobile is-multiline is-centered">
                <div class="column is-narrow">
                    <a href="https://wa.link/s68tzd"><button class="button is-inline is-dark"><small class="is-size-7 has-text-white is-family-monospace pb-2" >Whatsapp</small><i class="fa fa-whatsapp fa-lg" aria-hidden="true" style="color:#128C7E"></i></button></a>
                </div>
                <div class="column is-narrow">
                    <a href="https://www.facebook.com/profile.php?id=100076517981765"><button class="button is-inline is-dark"><small class="is-size-7 has-text-white is-family-monospace pb-2" >Facebook</small><i class="fa fa-facebook fa-lg" aria-hidden="true" style="color:#3b5998"></i></button></a>
                </div>
            </div>
            <div class="content has-text-centered has-text-white">
                <p>
                    Copyright (c) 2023 - TobieTopia
                </p>
            </div>
        </footer>
    </body>
</html>