aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
auto-py-to-exe==2.33.0
beautifulsoup4==4.12.2
botocore==1.29.158
bottle==0.12.25
bottle-websocket==0.2.9
cement==2.8.2
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.3
distlib==0.3.6
dj-database-url==2.0.0
Django==4.2.1
django-bootstrap5==23.3
django-ckeditor==6.5.1
django-cors-headers==4.0.0
django-dotenv==1.4.2
django-fontawesome-5==1.0.18
django-js-asset==2.0.0
django-social-share==2.3.0
django-taggit==4.0.0
docopt==0.6.2
docutils==0.19
Eel==0.16.0
fastjsonschema==2.17.1
filelock==3.12.0
flutter==0.1
fontawesomefree==6.4.0
frozenlist==1.3.3
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
gunicorn==20.1.0
idna==3.4
jmespath==1.0.1
pathspec==0.10.1
pefile==2023.2.7
pigar==2.0.7
Pillow==9.4.0
pipreqs==0.4.13
platformdirs==3.5.0
psycopg2-binary==2.9.6
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.2
pyparsing==3.0.9
pyperclip==1.8.2
pyrsistent==0.19.3
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==1.0.0
pytz==2022.1
requests==2.31.0
secure-smtplib==0.1.1
semantic-version==2.8.5
six==1.14.0
soupsieve==2.4.1
sqlparse==0.4.2
sympy==1.11.1
termcolor==1.1.0
traitlets==5.9.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
virtualenv==20.23.0
wcwidth==0.1.9
whichcraft==0.6.1
whitenoise==6.4.0